@font-face {
    font-family: 'computer_says_no';
    src: url('webfont/computer_says_no.woff2') format('woff2'),
         url('webfont/computer_says_no.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* General style properties */

.title{
  font-family: "Work Sans";

}

#weather{
  visibility: hidden;
}

.default-bg{
  background: linear-gradient(rgb(188, 221, 242), rgb(89, 144, 216));
}
.light-bg{
  background-color: #d7ecfc;
}

.navbar, footer{
    font-family: computer_says_no;
}


i {
  color: black;
}

/*  Navbar  */
.navbar {
  min-height: 30px;
  height:50px;
  font-size:1.5rem;
  text-transform: uppercase;
  align-items: center;
}


/* Buttons */
.btn-grad {
  background-image: linear-gradient(to right, #FFAFBD , #ffc3a0, #FFAFBD );
  box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);

  border-radius: 60px;
  background-size: 300% 100%;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn-grad:hover {
  background-position: 100% 0 ;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}



/*  Margins etc.*/

.btn-map {
  padding-left: 6%;
  padding-right: 6%;
}

.title{
    font-size: 7vh;
    margin-top: 5vh;

}

@media only screen and (min-width: 992px)  {
.title{
  font-size:10vh;
  margin-bottom: 10vh;
  margin-top: 10vh;
}
}

.search {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}


#contact{
  margin-top: 4rem;
  margin-bottom: 3rem;
}


.card-weather{
  margin-top:6vh;
  border: 0;
  border-radius: 1rem;
}

.form-control{
  width:80%;
}

/*  Footer */
footer{
  padding-top:1.2rem;
  padding-bottom:0.7rem;
  font-size: 1.4rem;
}

#heart{
  font-size:1rem;
}
